<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                 
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company1886927/vacancy5300010">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Microbilt Ukraine</td> 
     <td class="salary">100&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company825/vacancy6511525">Senior Java Developer/Team Lead</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company825/vacancy6377568">Full Stack Developer with Java background</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company4561066/vacancy6503815">Senior Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Mimacom Ukraine, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company2433708/vacancy5473312">Strong Junior / Middle Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Appus</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company569821/vacancy6568448">Ведущий инженер Группы сопровождения промежуточного ПО Банка</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">УкрСиббанк BNP Paribas Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company869187/vacancy6581338">Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company4513767/vacancy6558796">Machine Learning Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Playwing</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company1074/vacancy6264978">Senior Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">EPAM / Epam Systems</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company1074/vacancy6502429">Lead Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">EPAM / Epam Systems</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company167434/vacancy6550110">Test Automation Engineer (Java)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">MWDN Ltd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company794/vacancy6569537">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company277662/vacancy6569580">Senior Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company588008/vacancy6296414">Разработчик Java/C#</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">СТВ-Харьков, ООО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company119636/vacancy5936152">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DB Best Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company4017383/vacancy6388138">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Лука, ЧП</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company3531336/vacancy6529679">Middle C++/C#/.NET Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">КБ КАРАТ, ООО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company754053/vacancy4938831">Smart Junior Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LuckyWare Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company787108/vacancy5402013">Middle Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Компания CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company787108/vacancy6041034">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Компания CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company959/vacancy6579648">Senior Java Software Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company5001178/vacancy6579647">Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">The Video Nation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company959/vacancy6579644">Senior Java Back-end Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company959/vacancy6579634">Senior Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company1100697/vacancy6433425">Intermediate Phonegap/Cordova Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Acceptic LTD</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company3089738/vacancy6579118">DevOps/Linux Administrator со знанием Java</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">United Thinkers LLC</td> 
     <td class="salary">26&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company2754246/vacancy6471598">Senior Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Digital Champion</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company832/vacancy6534684">Senior Java Backend Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Program-Ace</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company962/vacancy6565224">Sr. Java Backend Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">TEAM International Services, Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company2211577/vacancy6462198">Lead Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ОЛСTime, рекрутинговая компания / Садурская Ж.Н. ФЛП агентство</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company444363/vacancy6574649">Junior/Middle/Senior Software Developer (Functional Programming)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Intetics Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company1709981/vacancy6574573">Java/Scala Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CHI Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company132994/vacancy6574298">Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Zfort Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company3809661/vacancy6303756">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ezlo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company53660/vacancy4712142">Junior Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company53660/vacancy5058046">Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company53660/vacancy5586335">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company787108/vacancy6090414">Junior Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Компания CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company4561066/vacancy6477318">Senior Java Developer (Full-stack)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Mimacom Ukraine, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company1074/vacancy6573455">Delivery Manager (Java)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">EPAM / Epam Systems</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company787108/vacancy6551063">Middle Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Компания CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company461331/vacancy6572449">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Akvelon Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company1676914/vacancy6369435">Java Middle Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Infostroy Ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company461331/vacancy6524292">Middle/Senior Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Akvelon Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company2478855/vacancy6524105">Team lead Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Erminesoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company4027267/vacancy6571883">Преподаватель программирования</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LEONIS</td> 
     <td class="salary">5&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company4730074/vacancy6464309">Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Megakit</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company4596892/vacancy6407435">Mid level Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Uventex Labs, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company81394/vacancy5542804">Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Devart</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company4983866/vacancy6568761">Android developer (удаленно)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Alfa IT Systems</td> 
     <td class="salary">30&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company4189318/vacancy6275759">Middle Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Riseapps</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company355140/vacancy5932163">Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">EchoStar Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company1676914/vacancy6526604">Java Team Lead</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Infostroy Ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company3470334/vacancy6553714">Senior Android/iOS Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Swiss Technologies AG</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company4819341/vacancy6500754">Junior Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">AppsDev</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company3089738/vacancy5889449">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">United Thinkers LLC</td> 
     <td class="salary">50&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company2866519/vacancy6544486">Программист</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ontime.watch</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company3965464/vacancy6541972">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Кравченко А.Г., ФЛП агентство</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua//company2643388/vacancy6538439">Middle android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LineUp</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2499758/">Middle Java Developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2499926/">Middle/Senior Java Developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2451365/">Senior Java Developer (Full-stack) </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Mimacom Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2473729/">Senior Java developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Mimacom Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2538015/">Senior Java Software Engineer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2538010/">Senior Java Back-end Engineer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2537995/">Senior Java Engineer﻿ </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/1362915/">Senior Java Developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">, 100000&nbsp;грн*</td> 
     <td class="salary">100000&nbsp;грн* </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2397142/">Middle java developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Aimprosoft</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2482734/">Разработчик Java/C# </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">СТВ, ООО</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/546550/">Java Developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Akvelon Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2513446/">Senior Java Developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">MWDN</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2529360/">Senior Java Engineer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2403002/">Java developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Nobilex</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2499758/">Middle Java Developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2499926/">Middle/Senior Java Developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2451365/">Senior Java Developer (Full-stack) </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Mimacom Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2473729/">Senior Java developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Mimacom Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2538015/">Senior Java Software Engineer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2538010/">Senior Java Back-end Engineer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2537995/">Senior Java Engineer﻿ </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/1362915/">Senior Java Developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">, 100000&nbsp;грн*</td> 
     <td class="salary">100000&nbsp;грн* </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2397142/">Middle java developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Aimprosoft</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2482734/">Разработчик Java/C# </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">СТВ, ООО</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/546550/">Java Developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Akvelon Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2513446/">Senior Java Developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">MWDN</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2529360/">Senior Java Engineer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2403002/">Java developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Nobilex</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2513293/">Test Automation Engineer (Java) </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">MWDN</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/2484919/">Web Java developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ларди, ООО (TM Lardi-Trans)</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua//jobs/1956785/">Java developer </a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">United Thinkers LLC</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19589658?query=java%20Kharkov">Senior Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19459376?query=java%20Kharkov">Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Project Managers International Consult</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19374694?query=java%20Kharkov">Senior Software Developer Java (Montenegro)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19596317?query=java%20Kharkov">Lead Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19596322?query=java%20Kharkov">Senior Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19596352?query=java%20Kharkov">Delivery Manager (Java)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19596325?query=java%20Kharkov">Senior/Lead Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18889085?query=java%20Kharkov">Java Solution Architect</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19596324?query=java%20Kharkov">Software Test Automation Engineer (Java)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19589356?query=java%20Kharkov">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19290248?query=java%20Kharkov">Senior/ Middle Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19580664?query=java%20Kharkov">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19299165?query=java%20Kharkov">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19299161?query=java%20Kharkov">Senior Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19596311?query=java%20Kharkov">DevOps Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19596319?query=java%20Kharkov">Lead DevOps Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18889091?query=java%20Kharkov">Big Data Solution Architect</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19141428?query=java%20Kharkov">Delivery Manager</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18889093?query=java%20Kharkov">Solution Architect</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19424610?query=java%20Kharkov">Senior UI Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19632702?query=java%20Kharkov">Java developer (back-tnd)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">United Thinkers</td> 
     <td class="salary">45&nbsp;000-50&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18596967?query=java%20Kharkov">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CS</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19304642?query=java%20Kharkov">Разработчик Java/C#</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО СТВ</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19555925?query=java%20Kharkov">Middle Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CS</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18596969?query=java%20Kharkov">Junior Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CS</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19438055?query=java%20Kharkov">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Микробилт Украина</td> 
     <td class="salary">от 3&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19660139?query=java%20Kharkov">PHP (WordPress) developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО ITB inc</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19660132?query=java%20Kharkov">PHP-разработчик</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО ITB inc</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19602617?query=java%20Kharkov">Программист Oracle PL/ SQL</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Alter Systems</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19610104?query=java%20Kharkov">Системный администратор (тестовые среды)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Devart</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19303045?query=java%20Kharkov">Oracle developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CS</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19575258?query=java%20Kharkov">Android-программист</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Design and Test Lab</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19574597?query=java%20Kharkov">Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">EchoStar Ukraine</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17726339?query=java%20Kharkov">Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CS</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19288894?query=java%20Kharkov">Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Devart</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19493317?query=java%20Kharkov">Junior developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО ЛогиМатика</td> 
     <td class="salary">от 7&nbsp;500 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19473714?query=java%20Kharkov">Smart Junior Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LuckyWare Pro</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19055246?query=java%20Kharkov">Senior PHP Programmer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CAMO IT</td> 
     <td class="salary">от 1&nbsp;700 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19527607?query=java%20Kharkov">QA Automation Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ИП KAgency</td> 
     <td class="salary"> </td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19235273?query=java%20Kharkov">Программист Android/iOS</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ИП Swiss Tech</td> 
     <td class="salary">от 2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>